body {
    font-family: 'Zilla Slab', serif;
}

footer {
    text-align: center;
}

.head {
  text-transform: uppercase;
  font-family: 'Zilla Slab', serif;
  text-align: center;
}

a.icon {
  padding: 10px;
}

a.icon:link, a.icon:visited {
  color: black;
}

a.icon:hover {
  color: #00BFA5;
}


.container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.img-circle {
    border-radius: 50%;
    height: 223px;
}

.menuItem {
  text-align: center;
}

.menuItem > a:link,  .menuItem > a:visited{
  color: black;
  text-decoration: none;
}

.menuItem > a:hover {
  color: #00BFA5;
}

h1 {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

p > a:link, p > a:visited{
  color: black;
  text-decoration: none;
}

p > a:hover {
  color: #00BFA5;
  text-decoration: underline;
}