body {
    font-family: 'PT Sans', serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.simpleContainer {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  padding: 3%;
}

h3 {
  text-transform: uppercase;
}

p > a:link, p > a:visited {
  color: black;
  text-decoration: none;
}

p > a:hover {
  color: #00BFA5;
  text-decoration: underline;
}

img {
  z-index: -1;
}

/* TOP BAR STYLING */

.topBar {
  background-color: #212121;
  color: white;
  font-family: 'PT Sans', serif;
  text-transform: uppercase;
  width: 100%;
  top: 5px;
  position: fixed;
  z-index: 10;
}

// p.topName {
//   font-size: 1.5em;
// }

// .topBar > ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

// li.topbar {
//     display: inline;
// }

// a.topIcon {
//   padding: 10px;
// }

// a.topIcon:link, a.topIcon:visited {
//   color:white;
// }

// a.topIcon:hover {
//   color: #00BFA5;
// }

/* MENU STYLING */
a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

#menu {
    font-family: 'Zilla Slab', serif;
}

#menu > p {
  padding: 5%;
}

a > p {
  margin: 20px;
}

.img-circle {
    border-radius: 50%;
    height: 223px;
}

.center {
  text-align: center;
  font-weight: bold;
}

.menuItem > a:link,  .menuItem > a:visited {
  color: black;
  text-decoration: none;
}

.menuItem > a:hover {
  color: #00BFA5;
}

/* PORTFOLIO STYLING */

.tile > img {
  height: 185px;
  width: 328px;
  border-radius: 5%;
  margin: 5% 0 2% 0;

}

.tile > h5 {
  text-transform: uppercase;
}

.tile > p {
  margin-bottom: 2%;
}

/* ETC STYLING */



/* FOOTER STYLING */

footer {
    text-align: center;
}

a.icon {
  padding: 10px;
}

a.icon:link, a.icon:visited {
  color: black;
}

a.icon:hover {
  color: #00BFA5;
}

